footer {
  max-width: 800px;

  display: flex;
  justify-content: space-between;

  margin: 10px auto 0;

  @media (max-width: $mobile) {
    margin: 10px;
  }
}

footer a:hover {
  text-decoration: none;
}

.footer__logo {
  width: 50px;
  height: 20px;

  text-align: center;
  vertical-align: bottom;
}

.footer__icon {
  width: 20px;
  height: 20px;

  fill: $black;

  &:hover {
    fill: $pink;
  }
}
